
body {
  background-image: url("https://img.freepik.com/free-vector/medical-technology-science-background-vector-blue-with-blank-space_53876-117739.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150vh;
}
